{
  "CN": "admin",
  "hosts": [],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "TW",
      "ST": "Taichung",
      "L": "TC",
      "O": "system:masters",
      "OU": "System"
    }
  ]
}
